@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lato:ital,wght@0,300;0,400;1,400&family=Open+Sans+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background: #e9ebee;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.pt-100 {
  padding-top: 100px;
}

.top-bottom-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

hr {
  background: #e9ebee;
  border: none;
  height: 1px;
}

form {
  width: 50%;
  margin: 0 auto;
}

form .form-group {
  margin: 10px 0px;
}

form .form-group :first-child {
  margin-left: 0px;
}

form .form-group :last-child {
  margin-right: -10px;
}

form .form-group input {
  border: 0px;
  margin: 10px 10px;
  padding: 10px 5px;
  background: none;
  border-bottom: 1.5px solid #30323d;
  width: 100%;
  font-family: auto;
  font-size: 17px;
}

form .form-group input:focus {
  border: 0px;
  border-bottom: 1.5px solid #30323d;
}

.btn {
  border: 1px solid #30323d;
  padding: 10px;
  width: 100px;
  background: #30323d;
  color: white;
  font-size: 17px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #30323d;
  background: none;
  color: #30323d;
}

.alert {
  padding: 0px 0.8rem;
  margin: 0 auto;
  width: 76%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.9;
  background: var(--light);
  color: #333;
  border-radius: 3px;
  font-size: 20px;
  border: 1px solid #30323d;
  height: 50px;
  position: fixed;
  z-index: 9;
}

.alert i {
  cursor: pointer;
}

.alert-success {
  background: var(--success);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger);
  color: #fff;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.fix_header {
  background: #2c2929d4;
  -webkit-transition: 1s all;
  transition: 1s all;
  border-bottom: 2px solid;
}

header {
  position: fixed;
  width: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
  height: 80px;
  background: #30323d;
  z-index: 99;
}

header a {
  color: white;
}

header .inner nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  header .inner nav {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

header .inner nav .logo {
  font-size: 28px;
}

header .inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  header .inner nav ul {
    display: none;
  }
}

header .inner nav ul p {
  color: white;
}

header .inner nav ul p .fas {
  margin-top: -7px;
  margin-left: 25px;
}

header .inner nav ul li {
  text-align: center;
  margin-left: 20px;
  position: relative;
}

header .inner nav ul li .nav-user > img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

header .inner nav ul li a {
  line-height: 2.5;
}

header .inner nav ul li:hover ul {
  display: block;
}

header .inner nav ul li ul {
  display: none;
  position: absolute;
  right: 0;
  z-index: 99;
}

header .inner nav ul li ul li {
  width: 100%;
}

header .inner nav input[type="checkbox" i] {
  display: none;
}

@media (max-width: 768px) {
  header .inner nav input[type="checkbox" i]:checked ~ ul {
    display: block;
    margin-top: 36px;
    margin-right: 10px;
  }
}

header .inner nav label {
  display: none;
}

header .inner nav label::after {
  content: "";
  background: currentColor;
  height: 6px;
  width: 35px;
  position: absolute;
  margin: 5px 7px;
  -webkit-box-shadow: 0px 10px 0px currentColor, 0px 20px 0px currentColor;
          box-shadow: 0px 10px 0px currentColor, 0px 20px 0px currentColor;
}

@media (max-width: 768px) {
  header .inner nav label {
    display: block;
    background: beige;
    height: 37px;
    width: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    z-index: 9999;
  }
}

.login .btn,
.register .btn {
  float: left;
}

.login p,
.register p {
  margin-right: 130px;
}

.notfound img {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.notfound .btn {
  text-align: center;
  margin: 0 auto;
  width: 31%;
  display: block;
  margin-top: 20px;
}

.setting input.btn {
  width: 150px;
}

.setting .btn_cencel {
  margin-left: 20px;
  background: no-repeat;
  color: #30323d;
}

.setting .btn_cencel:hover {
  background: #30323d;
  color: white;
}

.profile {
  margin-top: -20px;
}

.profile .banner {
  background: #17a2b8;
  height: 300px;
  position: relative;
}

.profile .profile-pic {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 2px solid white;
  position: absolute;
  right: 82%;
  left: 18%;
  -webkit-transform: translate(-18%, -82%);
          transform: translate(-18%, -82%);
}

.profile .profile-menu {
  text-align: right;
  background: #ffffff;
  padding: 2px 10px;
  -webkit-box-shadow: -5px 1px 24px -20px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 1px 24px -20px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.profile .profile-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.profile .profile-menu ul li {
  margin: 0px 10px;
}

.profile .profile-menu ul li a {
  color: #30323d;
  text-transform: capitalize;
}

.profile #timeline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 1px;
      grid-template-areas: "intro post";
  grid-gap: 1rem;
}

.profile #timeline .skills {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile #timeline .intro-text {
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
  color: #1d2129;
  font-weight: 100;
}

.profile #timeline .p-20 {
  padding: 20px;
}

.profile #timeline .shadwo {
  -webkit-box-shadow: -5px 1px 24px -20px rgba(0, 0, 0, 0.75);
          box-shadow: -5px 1px 24px -20px rgba(0, 0, 0, 0.75);
  background: white;
}

.profile #timeline .intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: intro;
}

.profile #timeline .intro p .fas {
  font-weight: 900;
  margin-right: 15px;
}

.profile #timeline .post_area {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: post;
}

#about h1 {
  background: #f5f6f7;
  padding: 10px;
  font-size: 30px;
  border: 1px solid #d3d6db;
}

#about .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 1px;
      grid-template-areas: "left right";
  grid-gap: 0rem;
  background: white;
}

#about .grid .left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  border-right: 1px solid #d3d6db;
}

#about .grid .left a {
  display: block;
  padding: 15px;
}

#about .grid .right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
}

#about .grid .right .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

#about .grid .right .top h6.add {
  font-size: 19px;
  font-weight: 500;
}

#about .grid .right .top i.fas {
  border: 1.5px dashed;
  color: #4267b2;
  padding: 10px;
  margin-right: 11px;
}

#about .grid .right .single-icon {
  background: #d3d6db;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#about .grid .right .d-flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

#about .grid .right #overview .p-20 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1px 1px;
  gap: 1px 1px;
      grid-template-areas: "left right";
  grid-gap: 1rem;
}

#about .grid .right #overview .p-20 .left {
  border: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

#about .grid .right #overview .p-20 .right {
  border: 0;
  right: right;
}

.single-view {
  height: 80px;
}

.single-view .single-details {
  margin-left: 10px;
  line-height: 4px;
  font-size: 15px;
  font-weight: 300;
}

.mouse-in-out {
  opacity: 0;
  cursor: pointer;
}

.mouse-in-out:hover {
  opacity: 1;
}

.mouse-in-out .mr-10 {
  margin-right: 10px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 15%;
  margin: auto;
  border-radius: 20px;
  background: white;
  bottom: 10%;
  overflow: auto;
  padding: 20px 0px;
}

.popup_inner h2 {
  text-align: center;
  font-size: 36px;
}

.popup_inner .form-group {
  margin: 20px 0px;
}

.popup_inner .form-group input {
  margin: 0 !important;
}

input[type="checkbox"] {
  padding: 0 !important;
  margin: 0 !important;
  width: auto !important;
}
/*# sourceMappingURL=App.css.map */